* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
}

#outer-box {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-gap: 15px;
  background: #bbada0;
  border-radius: 6px;
  margin: 15px auto;
  padding: 15px;
}

#outer-box div {
  border-radius: 3px;
  box-shadow: 0 0 30px 10px rgb(243 215 116 / 0%),
    inset 0 0 0 1px rgb(255 255 255 / 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-weight: bold;
}
